.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 480px;
    height: 600px;
    background: #fff;
    margin-bottom: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7.5px;
    width: 100%;
    margin-top: 20px;
}

.text {
    color: #004d7d;
    font-size: 30px;
    font-weight: 700;
}

.underline {
    width: 40px;
    height: 5px;
    background: #004d7d;
    border-radius: 7.5px;
}

.inputs {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 50px;
    background: #eaeaea;
    border-radius: 8px;
}

.input1 {
    display: flex;
    align-items: center;
    margin-left: 90px;
    width: 200px;
    height: 50px;
    background: #eaeaea;
    border-radius: 8px;
}

.input1 input {
    height: 35px;
    width: 250px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 14px;
}

.input1 img {
    margin: 0px 20px;
}

.input img {
    margin: 0px 20px;
}

.input input {
    height: 35px;
    width: 250px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 14px;
}

.forgot-password {
    padding-left: 40px;
    margin-top: 30px;
    color: #797979;
    font-size: 14px;
}

.forgot-password span {
    color: #004d7d;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 25px;
    margin: 50px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;  /* Adjusted size */
    height: 40px;  /* Adjusted size */
    color: #fff;
    background: #004d7d;
    border-radius: 50px;  /* Adjusted size */
    font-size: 12px;  /* Adjusted size */
    font-weight: 700;
    cursor: pointer;
}

.gray {
    background: #eaeaea;
    color: #676767;
}

.logo {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 300px;
    height: auto;
}


.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    color: #fff;
    background: #007d04;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin: 20px auto;
}

.Login:hover {
    background: #007d04;
}

.SignUp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    color: #fff;
    background: #007d04;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin: 0px auto;
}

.SignUp:hover {
    background: #007d04;
}

.scroll-container {
    display: flex;
    flex-direction: column;
  }
  
  .scrolling-list {
    height: 35px;
    width: 250px; 
    border: none;
    outline: none;
    background: #eaeaea;
    color: #797979;
    font-size: 14px;
    border-radius: 8px;
    margin-left: -40px; 
  }